body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #666;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
	background: black;
	scroll-behavior: smooth;
}

h1 {
	font-size: 24px;
}

h2 {
	margin: 0 0 20px 0;
	font-weight: 400;
	font-size: 36px;
	color: #777;
	text-transform: uppercase;
}
h3, h4 {
	font-size: 20px;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 20px;
}


a {
	color: #9b42a5;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}

/* Slick */

.slider {
	width: 50%;
	margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}


/* ***** */

/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	font-size: 18px;
	color: rgba(255,255,255,0.8);
	font-weight: 500;
	text-transform: uppercase;
}
#menu a.navbar-brand:hover {
	color: #ffffff;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: rgba(255,255,255,0.8);
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #ffffff;
}
.on {
	background-color: rgba(0,0,0,0.8) !important;
	padding: 0 !important;
}

.section-title {
	margin-bottom: 50px;
}
.section-title p {
	font-size: 18px;
	color: #888;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #9b42a5;
	padding: 14px 20px;
	margin: 0;
	font-size: 15px;
	border-radius: 0;
	margin-top: 0px;
	margin-bottom: 300px;
	transition: all 0.3s;
	border-top: 4px solid #ffffff;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-color: #ffffff;
}
/* Header Section */
.intro {
	position: relative;
    margin: 3% 3%;
    overflow: hidden;
    border: 5px solid gray;
	display: flex;
	flex-direction: column;
}

.intro img {
	display: block;
    margin: -10% 0% -50% 0;
}

.intro button {
	position: absolute;
    top: 53%;
    left: 49%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000000ab;
    color: white;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 2vw;
	border: 5px solid #80808038;
    border-radius: 20px;
}

header .intro-text {
	padding-top: 250px;
	padding-bottom: 200px;
	padding-left: 100px;
}
/* About Section */
#about {
	padding: 120px 0;
	background-image: url("../img/bg.jpg");
}
#about .about-text {
	margin-left: -10px;

}
#about .about-text h3 {
	font-weight: 400;
	color: #9b42a5;
}
#about img {
	float: left;
}
#about h2 {
	color: #ffffff;
	text-transform: uppercase;
}
#about h3 {
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 100px;
}
#about h4 {
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 50px;
}
#about p {
	margin: 30px 0;
	line-height: 22px;
	color: #ffffff;
	font-size: 20px;
}
/* Content Section */

#content {
	margin: 3% 3%;
	margin-top: 15%;
}

.section-title > h1 > span {
	color: white;
	border-bottom: 1px solid gray;
}

#content img {
	margin: auto;
}

#content .hacker {
	margin-top: 10px;
}

/* Portfolio Section */
#portfolio {
	padding: 120px 0;
	background-image: url("../img/bg.jpg");
}
#portfolio h2 {
	color: #ffffff;
	text-transform: uppercase;
}
#portfolio h3 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 25px;
	
}
#portfolio p {
	font-size: 20px;
	color: #ffffff;
}

.portfolio-item{
	display: flex;
	justify-content: space-around;
}


.portfolio-item iframe{
	width: 100vw;
    height: 56.25vw;
}

.categories {
	padding-bottom: 40px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	color: #9b42a5;
	padding: 10px 20px;
	border: 1px solid #9b42a5;
	text-transform: uppercase;
}
ol.type li a.active {
	background: #9b42a5;
	color: #fff;
}
ol.type li a:hover {
	background: #9b42a5;
	color: #fff;
}
.portfolio-item {
	margin: 15px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.portfolio-item .hover-bg {
	height: 195px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}

#portfolio i.fa {
	font-size: 20px;
	padding: 5px;
	color: #E87E04;
}

/* Testimonials Section */
#testimonials {
	padding: 120px 0 80px 0;
	background: #9b42a5;
	background-image: url("../img/bg.jpg");
	color: #ffffff
}

#testimonials h2 {
	color: #ffffff;
	text-transform: uppercase;
}
#testimonials h3 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 25px;
	
}
#testimonials p {
	font-size: 20px;
	color: #ffffff;
}


/* Contact Section */
#contact {
	padding: 120px 0 60px 0;
	background: #9b42a5;
	color:#ffffff
}
#contact h2 {
	color: #ffffff;
	text-transform: uppercase;
}
#contact h3 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 25px;
}
#contact p {
	font-size: 20px;
	color: #ffffff;
}
#contact form {
	padding: 30px 0;
}
#contact .text-danger {
	color: #9b42a5;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
	color: #000000;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #222;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #9b42a5;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #2c3e50;
}
.form-control:-moz-placeholder {
color: #2c3e50;
}
.form-control::-moz-placeholder {
color: #2c3e50;
}
.form-control:-ms-input-placeholder {
color: #2c3e50;
}
#contact .social {
	margin-top: 80px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 28px;
	padding: 4px;
	color: #9b42a5;
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	color: #444;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Footer Section*/
#footer {

}
#footer a {
	color: rgba(255,255,255,0.7);
}
#footer a:hover {
	color: #fff;
}

@media screen and (min-width: 640px) {
	
	h1 {
		font-size: 64px;
	}

	.intro button {
		padding: 12px 24px;
		font-size: 14px;
	}

}

@media screen and (min-width: 1024px) {


	.intro {
		margin: 5% 5%;
	}

	.intro button {
		padding: 24px 48px;
		font-size: 20px;
	}

	#about img {
		float: left;
		margin-bottom: 20px;
	}

}
